<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('TMs')">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<nav th:replace="layout :: nav"></nav>

<div class="container main-site-container">
    <h2>TMs</h2>
    <form class="form-inline" method="get" action="/data/tm/create" th:if="${@templateHelperImpl.admin}">
        <button type="submit" class="btn btn-primary">Create TM</button>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID_OBJECT</th>
            <th scope="col">NAME_OBJECT</th>
            <th scope="col">V_AVERAGE</th>
            <th scope="col">COST</th>
            <th scope="col">KN</th>
            <th scope="col">POWER</th>
            <th scope="col">F</th>
            <th scope="col">ASKUE</th>
            <th scope="col">MODEL</th>
            <th scope="col">NO</th>
            <th scope="col">DOCUMENT_ID</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tm : ${tms}">
            <th scope="row" th:text="${tm.objectId}"></th>
            <td th:text="${tm.objectName}"></td>
            <td th:text="${tm.averageV}"></td>
            <td th:text="${tm.cost}"></td>
            <td th:text="${tm.kn}"></td>
            <td th:text="${tm.power}"></td>
            <td th:text="${tm.f}"></td>
            <td th:text="${tm.askue}"></td>
            <td th:text="${tm.model}"></td>
            <td th:text="${tm.no}"></td>
            <td th:text="${tm.document}"></td>
            <td class="actions-cell">
                <a class="btn btn-outline-dark btn-sm" th:if="${@templateHelperImpl.admin}" th:href="|/data/tm/${tm.objectId}/update|" role="button">Update</a>
                <a class="btn btn-outline-danger btn-sm" th:if="${@templateHelperImpl.admin}" th:href="|/data/tm/${tm.objectId}/delete|" role="button">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<th:block th:replace="layout :: footer">

</th:block>
</body>
</html>