<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New TM</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<nav th:replace="layout :: nav"></nav>

<div class="container main-site-container">

    <h2>Create new supply document</h2>

    <form th:object="${tm}" method="post" th:action="@{/data/tm/create}">
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}"/>

        <div class="row">
            <div class="col-3">
                <input th:field="*{objectId}" type="text" id="objectId" name="objectId" class="form-control" placeholder="ID_OBJECT">
            </div>
            <div class="col-3">
                <div class="text-danger" th:if="${#fields.hasErrors('objectId')}"
                     th:each="error : ${#fields.errors('objectId')}"
                     th:text="${error}">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <input  th:field="*{objectName}" type="text" id="objectName" name="objectName" class="form-control" placeholder="NAME_OBJECT">
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <input  th:field="*{averageV}" type="text" id="averageV" name="averageV" class="form-control" placeholder="V_AVERAGE">
            </div>
            <div class="col-3">
                <div class="text-danger" th:if="${#fields.hasErrors('averageV')}"
                     th:each="error : ${#fields.errors('averageV')}"
                     th:text="${error}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <input  th:field="*{cost}" type="text" id="cost" name="cost" class="form-control" placeholder="COST">
            </div>
            <div class="col-3">
                <div class="text-danger" th:if="${#fields.hasErrors('cost')}"
                     th:each="error : ${#fields.errors('cost')}"
                     th:text="${error}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <input  th:field="*{kn}" type="text" id="kn" name="kn" class="form-control" placeholder="KN">
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <input  th:field="*{power}" type="text" id="power" name="power" class="form-control" placeholder="POWER">
            </div>
            <div class="col-3">
                <div class="text-danger" th:if="${#fields.hasErrors('power')}"
                     th:each="error : ${#fields.errors('power')}"
                     th:text="${error}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <input  th:field="*{f}" type="text" id="f" name="f" class="form-control" placeholder="F">
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <input  th:field="*{askue}" type="text" id="askue" name="askue" class="form-control" placeholder="ASKUE">
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <input  th:field="*{model}" type="text" id="model" name="model" class="form-control" placeholder="MODEL">
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <input  th:field="*{document}" type="text" id="document" name="document" class="form-control" placeholder="DOCUMENT_ID">
            </div>
            <div class="col-3">
                <div class="text-danger" th:if="${#fields.hasErrors('document')}"
                     th:each="error : ${#fields.errors('document')}"
                     th:text="${error}">
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Create SD</button>
    </form>

</div>