<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Test page')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="layout :: nav"></nav>

<div class="container main-site-container">
    <h1>Delete user</h1>

    <div class="alert alert-danger" role="alert" th:text="#{Users.deleteUser.actionDesctiption}">
    </div>
    <form method="post">
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}"/>
        <div class="form-group row">
            <label for="staticUsername" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
                <input type="text" name="username" readonly class="form-control-plaintext" id="staticUsername" value="username" th:value="${username}">
            </div>
        </div>
        <button type="submit" class="btn btn-lg btn-danger">Delete</button>
    </form>

</div>

<th:block th:replace="layout :: footer">

</th:block>
</body>
</html>