<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('SDs')">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<nav th:replace="layout :: nav"></nav>

<div class="container main-site-container">
    <h2>SDs</h2>
    <form class="form-inline" method="get" action="/data/sd/create" th:if="${@templateHelperImpl.admin}">
        <button type="submit" class="btn btn-primary">Create SD</button>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">REG_NO</th>
            <th scope="col">DATE_START</th>
            <th scope="col">DATE_END</th>
            <th scope="col">BP_ID</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sd : ${sds}">
            <th scope="row" th:text="${sd.regNo}"></th>
            <td th:text="${sd.startDate}"></td>
            <td th:text="${sd.endDate}"></td>
            <td th:text="${sd.bp}"></td>
            <td class="actions-cell">
                <a class="btn btn-outline-dark btn-sm" th:if="${@templateHelperImpl.admin}" th:href="|/data/sd/${sd.regNo}/update|" role="button">Update</a>
                <a class="btn btn-outline-danger btn-sm" th:if="${@templateHelperImpl.admin}" th:href="|/data/sd/${sd.regNo}/delete|" role="button">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<th:block th:replace="layout :: footer">

</th:block>
</body>
</html>