<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update SD</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<nav th:replace="layout :: nav"></nav>

<div class="container main-site-container">

    <h2>Update existing supply document</h2>

    <form th:object="${sd}" method="post" th:action="@{/data/sd/${sd.regNo}/update}">
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}"/>

        <div class="row">
            <div class="col-3">
                <input  th:readonly="${true}" th:field="*{regNo}" type="text" id="regNo" name="regNo" class="form-control" placeholder="REG_NO">
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <input  th:field="*{startDate}" type="text" id="startDate" name="startDate" class="form-control" placeholder="DATE_START">
            </div>
            <div class="col-3">
                <div class="text-danger" th:if="${#fields.hasErrors('startDate')}"
                     th:each="error : ${#fields.errors('startDate')}"
                     th:text="${error}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <input  th:field="*{endDate}" type="text" id="endDate" name="endDate" class="form-control" placeholder="DATE_END">
            </div>
            <div class="col-3">
                <div class="text-danger" th:if="${#fields.hasErrors('endDate')}"
                     th:each="error : ${#fields.errors('endDate')}"
                     th:text="${error}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <input  th:field="*{bp}" type="text" id="bp" name="bp" class="form-control" placeholder="BP_ID">
            </div>
            <div class="col-3">
                <div class="text-danger" th:if="${#fields.hasErrors('bp')}"
                     th:each="error : ${#fields.errors('bp')}"
                     th:text="${error}">
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Update SD</button>
    </form>

</div>


<th:block th:replace="layout :: footer">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</th:block>
</body>
</html>