<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head(${@templateHelperImpl.username})">
    <meta charset="UTF-8">
    <title>th:text="${@templateHelperImpl.username}"</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<nav th:replace="layout :: nav"></nav>

<div class="container main-site-container">

    <h2>Your account</h2>

    <form th:object="${user}" method="post" th:action="@{/account/setPassword}">
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}"/>

        <div class="row">
            <div class="col-2">
            <h4>Username <span class="label label-default"></span></h4>
            </div>
            <div class="col-3">
                <input th:readonly="${true}" th:value="${user.username}" type="text" id="username" name="username" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h4>Password <span class="label label-default"></span></h4>
            </div>
            <div class="col-3">
                <input  th:field="*{password}" type="password" id="password" name="password" class="form-control" placeholder="New password">
            </div>
            <div class="col-2">
                <button class="btn btn-primary" type="submit">Change password</button>
            </div>
            <div class="col-3">
                <div class="text-danger" th:if="${#fields.hasErrors('password')}"
                     th:each="error : ${#fields.errors('password')}"
                     th:text="${error}">
                </div>
            </div>
        </div>
    </form>
    <h3>User infromation</h3>
    <form th:object="${userInfo}" method="post" th:action="@{/account/updateInfo}">
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}"/>
        <div class="row">
            <div class="col-2">
                <h4>First name <span class="label label-default"></span></h4>
            </div>
            <div class="col-3">
                <input th:field="*{firstName}" type="text" id="firstName" name="firstName" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h4>Second name <span class="label label-default"></span></h4>
            </div>
            <div class="col-3">
                <input th:field="*{secondName}" type="text" id="secondName" name="secondName" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h4>E-mail<span class="label label-default"></span></h4>
            </div>
            <div class="col-3">
                <input th:field="*{email}" type="text" id="email" name="email" class="form-control">
            </div>
            <div class="col-3">
                <div class="text-danger" th:if="${#fields.hasErrors('email')}"
                     th:each="error : ${#fields.errors('email')}"
                     th:text="${error}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h4>Birth date<span class="label label-default"></span></h4>
            </div>
            <div class="col-3">
                <input th:field="*{birthDate}" type="text" id="birthDate" name="email" class="form-control">
            </div>
            <div class="col-3">
                <div class="text-danger" th:if="${#fields.hasErrors('birthDate')}"
                     th:each="error : ${#fields.errors('birthDate')}"
                     th:text="${error}">
                </div>
            </div>
        </div>
            <button class="btn btn-primary" type="submit">Update info</button>

    </form>

 </div>


<th:block th:replace="layout :: footer">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</th:block>
</body>
</html>