<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Title</title>
</head>
<body>

<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline" method="get" action="/data/bp" th:if="${@templateHelperImpl.loggedIn}">
            <button type="submit" class="btn btn-primary">BPs</button>
        </form>
        <form class="form-inline" method="get" action="/data/sd" th:if="${@templateHelperImpl.loggedIn}">
            <button type="submit" class="btn btn-primary">SDs</button>
        </form>
        <form class="form-inline" method="get" action="/data/tm" th:if="${@templateHelperImpl.loggedIn}">
            <button type="submit" class="btn btn-primary">TMs</button>
        </form>
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline" method="get" action="/users" th:if="${@templateHelperImpl.admin}">
            <button type="submit" class="btn btn-primary">Users list</button>
        </form>
        <form th:object="${loginForm}" class="form-inline my-2 my-lg-0" method="post" action="/login" th:unless="${@templateHelperImpl.loggedIn}">
            <input
                    type="hidden"
                    th:name="${_csrf.parameterName}"
                    th:value="${_csrf.token}"/>
            <div>
                <input th:field="*{username}"   class="form-control mr-sm-1" type="text" id="username" name="username"
                       required="required" placeholder="Login" th:unless="${@templateHelperImpl.loggedIn}">
                <div class="text-danger" th:if="${error}"
                     th:text="#{Login.credentials.incorrect.login}">
                </div>
            </div>
            <div>
                <input th:field="*{password}" class="form-control mr-sm-1" type="password" id="password" name="password"
                       required="required" placeholder="Password" th:unless="${@templateHelperImpl.loggedIn}">

            </div>
            <button class="btn btn-outline-success my-2 my-sm-0"  type="submit" name="action" value="login">Log in</button>

        </form>
        <a class="btn btn-outline-primary" role="button" th:unless="${@templateHelperImpl.loggedIn}" th:href="@{/signup}">Sign up</a>
        <form class="form-inline" method="get" action="/account" th:if="${@templateHelperImpl.loggedIn}">
            <input
                    type="hidden"
                    th:name="${_csrf.parameterName}"
                    th:value="${_csrf.token}"/>
            <button type="submit" class="btn btn-primary" th:text="${@templateHelperImpl.username}"></button>
        </form>
        <form class="form-inline" method="post" action="/logout" th:if="${@templateHelperImpl.loggedIn}">
            <input
                    type="hidden"
                    th:name="${_csrf.parameterName}"
                    th:value="${_csrf.token}"/>
            <button class="btn btn-outline-danger" type="submit">Log out</button>
        </form>

    </div>
</nav>


<th:block th:fragment="footer">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</th:block>
</body>
</html>