<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Registration</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div class="container">
    <form th:object="${userForm}" class="form-signin" method="post" action="/signup">
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}"/>
        <h2 class="form-signin-heading">Registration</h2>
        <div>
            <label for="username" class="sr-only">Username</label>
            <input th:field="*{username}" type="text" id="username" name="username" class="form-control"
                   placeholder="Username" required
                   autofocus>
            <div class="text-danger" th:if="${#fields.hasErrors('username')}"
                 th:each="error : ${#fields.errors('username')}"
                 th:text="${error}">
            </div>
        </div>
        <div>
            <label for="password" class="sr-only">Password</label>
            <input th:field="*{password}" type="password" id="password" name="password" class="form-control"
                   placeholder="Password" required>
            <div class="text-danger" th:if="${#fields.hasErrors('password')}"
                 th:each="error : ${#fields.errors('password')}"
                 th:text="${error}">
            </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
</div>
</body>
</html>