<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Delete BP')">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<nav th:replace="layout :: nav"></nav>

<div class="container main-site-container">
    <h2>Delete BP</h2>

    <div class="alert alert-danger" role="alert" th:text="#{Data.deleteObject.actionDesctiption}">
    </div>
    <form method="post" th:object="${bp}" th:action="@{/data/bp/${bp.id}/delete}">
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}"/>
        <div class="form-group row">
            <label for="staticBpId" class="col-sm-2 col-form-label">SUBJECT_ID</label>
            <div class="col-sm-10">
                <input type="text" name="id" readonly class="form-control-plaintext" id="staticBpId" value="id" th:value="${bp.id}">
            </div>
        </div>
        <button type="submit" class="btn btn-lg btn-danger">Delete</button>
    </form>

</div>

<th:block th:replace="layout :: footer">

</th:block>
</body>
</html>