<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('BPs')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="layout :: nav"></nav>

<div class="container main-site-container">
    <h2>BPs</h2>
    <form class="form-inline" method="get" action="/data/bp/create" th:if="${@templateHelperImpl.admin}">
        <button type="submit" class="btn btn-primary">Create BP</button>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">SUBJECT_ID</th>
            <th scope="col">R_SUBJECT</th>
            <th scope="col">TYPE_SUBJECT</th>
            <th scope="col">NAME_SUBJECT</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bp : ${bps}">
            <th scope="row" th:text="${bp.id}"></th>
            <td th:text="${bp.bpRole}"></td>
            <td th:text="${bp.bpType}"></td>
            <td th:text="${bp.bpName}"></td>
            <td class="actions-cell">
                <a class="btn btn-outline-dark btn-sm" th:if="${@templateHelperImpl.admin}" th:href="|/data/bp/${bp.id}/update|" role="button">Update</a>
                <a class="btn btn-outline-danger btn-sm" th:if="${@templateHelperImpl.admin}" th:href="|/data/bp/${bp.id}/delete|" role="button">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<th:block th:replace="layout :: footer">

</th:block>
</body>
</html>