<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New BP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<nav th:replace="layout :: nav"></nav>

<div class="container main-site-container">

    <h2>Create new buisiness partner</h2>

    <form th:object="${bp}" method="post" th:action="@{/data/bp/create}">
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}"/>

        <div class="row">
            <div class="col-3">
                <input th:field="*{id}" type="text" id="id" name="id" class="form-control" placeholder="SUBJECT_ID">
            </div>
            <div class="col-3">
                <div class="text-danger" th:if="${#fields.hasErrors('id')}"
                     th:each="error : ${#fields.errors('id')}"
                     th:text="${error}">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <input  th:field="*{bpRole}" type="text" id="subjectRole" name="subjectRole" class="form-control" placeholder="R_SUBJECT">
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <input  th:field="*{bpType}" type="text" id="subjectType" name="subjectType" class="form-control" placeholder="TYPE_SUBJECT">
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <input  th:field="*{bpName}" type="text" id="subjectName" name="subjectName" class="form-control" placeholder="NAME_SUBJECT">
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Create BP</button>
    </form>

</div>


<th:block th:replace="layout :: footer">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</th:block>
</body>
</html>